node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
logs
*.log
.DS_Store
coverage
dist
.vscode
.idea
README.md
CHANGELOG.md
documentation
*.md
.github
.eslintrc*
.prettierrc*
tsconfig.json
jest.config.js
**/*.test.ts
**/*.spec.ts
**/__tests__
**/tests
